.container-fluid{
    font-family: 'Poppins',sans-serif;
}
.table thead tr th{
    font-size: 13px;
    padding: 6px !important;
}
.table tbody tr td{
    font-size: 13px;
    padding: 6px !important;
    .form-switch{
        font-size: 20px;
    }
}
.bg-blue{
    background: #0f4890 !important;
}
.btn-primary{
    background: #0f4890 !important;
}
.bg-light-blue{
background-color: #e7edfd;
}
.form-check-input:checked {
    background-color: #0f4890 !important;
    border-color: white !important;
}
.timer{
    font-size: 10px;
    margin-top: 4px;
}
.body-container{
    margin-top: 60px;
}
::-webkit-scrollbar{
    width: 1px;
}
.table-header{
    width: 100px;
    text-wrap: nowrap;
}